<%= form_for(trash_request) do |f| %>
  <% if trash_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trash_request.errors.count, "error") %> prohibited this trash_request from being saved:</h2>

      <ul>
      <% trash_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- demo code - remote part -->

<div class="row">

   <div class="col-md-10">
     
     <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Select/DeSelect</th>
        <th>Unit price</th>
        <th>Wastage Unit</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
        <% for item in @items %>
      <tr>
        <td><%= image_tag "/Items/#{item.item_name}.jpg", size: "50x50" %>&nbsp;<%= item.item_name %>
        </td>
        <td>
          <%= check_box "item", item.id, class: "cmn-toggle cmn-toggle-round" %><label for="item_<%= item.id %>"></label>
        </td>
        <td><%= item.unit_price %></td>
        <td> <%= text_field "rough_unit",item.id, onkeyup: "calculate_rough_amt(this,#{item.id},#{item.unit_price})", class: "form-control" %></td>
        <td id="<%= item.id %>_total_amt">0</td>
      </tr>
        <% end %>
    </tbody>
  </table>
   </div>
</div>
<div class="row">
  <div class='col-sm-4'>
    <div class="form-group">
      <div class='input-group date' id='trash_request_date'>
        <input type='text' class="form-control" placeholder="Trash Request Date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
      </div>
    </div>
  </div>
</div>
    </br>
  <div class="actions">
    <%= f.submit "Submit",:class => "btn btn-success btn" %>
  </div>
<% end %>

<script>

</script>
<style>

</style>