<%= form_for(trash_request) do |f| %>
  <% if trash_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trash_request.errors.count, "error") %> prohibited this trash_request from being saved:</h2>

      <ul>
      <% trash_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- demo code - remote part -->

<div class="row">
  <div class="col-md-6">
    <div class="row">
    <div class="col-md-3">
      <img src="/assets/computer.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
    </div>
     <div class="col-md-3">
      <img src="/assets/books.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
    </div>
  <div class="col-md-3">
      <img src="/assets/bottles.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
    </div>

     <div class="col-md-3">
      <img src="/assets/papers.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
    </div>


  </div>
  </div>
   <div class="col-md-6">
     
     <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Unit price</th>
        <th>Wastage Unit</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Books</td>
        <td>12/kg</td>
        <td> <input type="text" style="width:120px"></td>
        <td></td>
      </tr>
      <tr>
       <td>computers</td>
        <td>30</td>
        <td> <input type="text" style="width:120px"></td>
        <td></td>

      </tr>
      <tr>
      <td>Glasses</td>
        <td>15/kg</td>
        <td> <input type="text" style="width:120px"></td>
        <td></td>

      </tr>
    </tbody>
  </table>


   </div>
</div>

<!--end-->

  <div class="field">
    <%= f.label :tr_serial_no %>
    <%= f.text_field :tr_serial_no %>
  </div>

  <div class="field">
    <%= f.label :request_status %>
    <%= f.text_field :request_status %>
  </div>

  <div class="field">
    <%= f.label :trash_request_date %>
    <%= f.date_select :trash_request_date %>
  </div>

  <div class="field">
    <%= f.label :request_generate_date %>
    <%= f.text_field :request_generate_date %>
  </div>

  <div class="field">
    <%= f.label :total_amount %>
    <%= f.text_field :total_amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
