<%= form_for(trash_request) do |f| %>
    <div class="row">

      <div class="col-md-8">

        <table class="table">
          <thead>
          <tr>
            <th>Item Name</th>
            <th>Select/DeSelect</th>
            <th>Unit price</th>
            <th>Wastage Unit</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
          <%= f.fields_for(:trash_request_items) do |tri| %>
          <% trash_request_item_ids = f.object.trash_request_items.pluck(:item_id) %>
          <% for item in @items %>
              <% item_id = item.id.to_s %>
              <tr>
                <td><%= image_tag "/Items/#{item.item_name}.jpg", size: "50x50" %>&nbsp;<%= item.item_name %>
                </td>
                <td>
                  <% if trash_request_item_ids.include?(item.id) %>
                      <%= tri.check_box "#{item_id}[is_checked]", class: "cmn-toggle cmn-toggle-round", checked: true %><label for="<%="trash_request_trash_request_items_#{item_id}[is_checked]" %>"></label>
                  <%else%>
                    <%= tri.check_box "#{item_id}[is_checked]", class: "cmn-toggle cmn-toggle-round" %><label for="<%="trash_request_trash_request_items_#{item_id}[is_checked]" %>"></label>
                  <%end%>
                </td>
                <td><%= item.unit_price %></td>
                <% if trash_request_item_ids.include?(item.id) %>
                    <% rough_unit =  f.object.trash_request_items.select{|a| a.item_id == item.id}.first.rough_unit %>
                    <td> <%= tri.text_field "#{item_id}[rough_unit]", onkeyup: "calculate_rough_amt(this,#{item.id},#{item.unit_price})", class: "form-control", value: rough_unit %></td>
                <%else%>
                    <td> <%= tri.text_field "#{item_id}[rough_unit]", onkeyup: "calculate_rough_amt(this,#{item.id},#{item.unit_price})", class: "form-control" %></td>
                <%end%>
                <%= tri.hidden_field "#{item_id}[rough_amount]", value: "345",class: "rough_amt_" + item.id.to_s %>
                <td id="<%= item.id %>_total_amt">0</td>
              </tr>
          <% end %>
              <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <div id="user_address_div">
        <% if current_user.address_detail %>
        <h4>Address Details</h4>
        <div>
          <%= current_user.address_detail.first_name %>&nbsp;<%= current_user.address_detail.last_name %>
        </div>
        <div>
          <%= current_user.address_detail.address_line1 %>,<%= current_user.address_detail.address_line2 %>
        </div>
        <div>
          <%= current_user.address_detail.city %>,<%= current_user.address_detail.state %>,<%= current_user.address_detail.zip_code %>
        </div>
        <div>
          <%= current_user.address_detail.mobile_no %>,<%= current_user.address_detail.land_line_no %>
        </div>
        <br/>
        <% end %>
        <div>
        <%= link_to "Would you like to choose different Address ?", "#", data: { turbolinks: false }, id: "address_link" %></div>
        </div>
        <%= f.hidden_field :is_new_address, value: 'false' %>
        <div id="new_address" class="hide">
          <%= f.fields_for :address_detail do |ad| %>
            <div class="form-group">
              <%= ad.text_field :first_name, placeholder: "Name", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :address_line1, placeholder: "Address Line 1", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :address_line2, placeholder: "Address Line 2", class: "form-control" %>
            </div>
            <div class="form-group">
              Area: 
              <%= ad.select :area_id, @areas.map {|c| [c.area_name, c.id, {:'pincode' => c.pincode}]}, prompt: true %>
            </div>
            <div class="form-group">
              <%= ad.text_field :landmark, placeholder: "landmark", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= ad.text_field :city, placeholder: "City", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :land_line_no, placeholder: "Phone Number", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :mobile_no, placeholder: "Mobile Number", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :state, placeholder: "State", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= ad.text_field :zip_code, placeholder: "Pin Code", class: "form-control" , readonly: true%>
            </div>
            
          <% end %>
          <%= link_to "Cancel Address", "#", data: { turbolinks: false }, id: "reset_address" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-4'>
        <div class="form-group">
          <div class='input-group date' id='trash_request_date'>
            <%= f.text_field :trash_request_date , placeholder: "Trash Request Date",required: true, class: "form-control",value: (f.object.trash_request_date.strftime("%d/%m/%Y") rescue nil) %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="actions">
      <%= f.submit "Submit",:class => "btn btn-success btn" %>
    </div>
<% end %>

<script>
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#trash_request_date').datetimepicker({
        format: "DD/MM/YYYY",
        minDate: today
    });
    $("#address_link").click(function() {
      $("#user_address_div").hide();
      $("#new_address").removeClass('hide');
      $("#trash_request_is_new_address").val('true');
    })
    $("#reset_address").click(function() {
      $("#user_address_div").show();
      $("#new_address").addClass('hide');
      $("#trash_request_is_new_address").val('false');
    })
    $("#trash_request_address_detail_area_id").change(function() {
      var pincode = $("#trash_request_address_detail_area_id :selected").attr('pincode');
      $("#trash_request_address_detail_zip_code").val(pincode)
    })
</script>
