<%= form_for(trash_request) do |f| %>
  <% if trash_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trash_request.errors.count, "error") %> prohibited this trash_request from being saved:</h2>

      <ul>
      <% trash_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :tr_serial_no, class: "form-control", placeholder: "Tr Serial No" %>
  </div>

  <div class="form-group">
    <%= f.text_field :request_status, class: "form-control", placeholder: "Request Status" %>
  </div>

  <div class='input-group date' id='datetimepicker8'>
    <%= f.text_field :trash_request_date, :class => "form-control", :placeholder => "Trash Request Date" %>
    <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
  </div>
  </br>

  <div class="form-group">
    <%= f.text_field :request_generate_date, class: "form-control", placeholder: "Request Generate Date" %>
  </div>

  <div class="form-group">
    <%= f.text_field :total_amount, class: "form-control", placeholder: "Total Amount" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit",:class => "btn btn-success btn" %>
  </div>
<% end %>
<script>
  $(function() {
      $('#datetimepicker8').datetimepicker({
        format : 'DD/MM/YYYY'
      });
    });
</script>