<p id="notice"><%= notice %></p>

<h1>Trash Requests</h1>

<table>
  <thead>
    <tr>
      <th>Tr serial no</th>
      <th>Request status</th>
      <th>Trash request date</th>
      <th>Request generate date</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trash_requests.each do |trash_request| %>
      <tr>
        <td><%= trash_request.tr_serial_no %></td>
        <td><%= trash_request.request_status %></td>
        <td><%= trash_request.trash_request_date %></td>
        <td><%= trash_request.request_generate_date %></td>
        <td><%= trash_request.total_amount %></td>
        <td><%= link_to 'Show', trash_request %></td>
        <td><%= link_to 'Edit', edit_trash_request_path(trash_request) %></td>
        <td><%= link_to 'Destroy', trash_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trash Request', new_trash_request_path %>
