<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group"">
    <%= f.text_field :item_code, placeholder: "Item Code", class: "form-control" %>
  </div>

  <div class="form-group"">
    <%= f.text_field :item_name, placeholder: "Item Name", class: "form-control" %>
  </div>

  <div class="form-group"">
    <%= f.text_field :unit_price, placeholder: "Unit Price", class: "form-control" %>
  </div>

  <div class="form-group"">
    <%= f.submit "Submit",:class => "btn btn-success btn" %>
    <%= link_to 'Back', items_path, class: 'btn btn-danger' %>
  </div>
<% end %>
