<%= form_for(@profile) do |f| %>
    <div class="row">
      <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :first_name, placeholder: "First Name", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :address_line1, placeholder: "Address Line 1", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :address_line2, placeholder: "Address Line 2", class: "form-control" %>
            </div>
            <div class="form-group">
              Area: 
              <%= f.select :area_id, @areas.map {|c| [c.area_name, c.id, {:'pincode' => c.pincode}]}, prompt: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :landmark, placeholder: "landmark", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :city, placeholder: "City", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :land_line_no, placeholder: "Phone Number", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :mobile_no, placeholder: "Mobile Number", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :state, placeholder: "State", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :zip_code, placeholder: "Pin Code", class: "form-control", required: true, readonly: true %>
            </div>
      </div>
    </div>
    </br>
    <div class="actions">
      <%= submit_tag "Submit",:class => "btn btn-success btn" %>
    </div>
<% end %>
<script>
  $("#address_detail_area_id").change(function() {
    var pincode = $("#address_detail_area_id :selected").attr('pincode');
    $("#address_detail_zip_code").val(pincode)
  })
</script>
